<div class="admin">
  <div class="contact">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Action</th>
      </tr>
      <% @contact.each do | _contact | %>
        <tr>
          <td><%= _contact.name %></td>
          <td><%= _contact.email %></td>
          <td><%= _contact.message %></td>
          <td>
            <a href="/Admin/contact/send/<%= _contact.id %>/">Send</a>
            <a href="/Admin/contact/delete/<%= _contact.id %>/">Delete</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
