<div class="admin">
<div class="contact send">
    <%= form_for('/admin/contact/send/'+ @id, method: "post") do |f| %>
        <%= f.label "email: "+@contact.email %>
        <%= f.text_area :message %>
        <%= f.submit value="envoyer" %>
    <% end %>
</div>