<div class="post">
  <%= form_for(:galery, url: '/Admin/galery/new', method: "post") do |f| %>
    <%= f.label :alt %>
    <%= f.text_field :alt %>
    <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
    <%= f.label :image %>
    <%= f.text_field :url %>
    <%= f.file_field :image %>
    <%= f.submit %>
  <% end %>
</div>
