<div class="admin">
  <div class="galery">
    <table>
      <tr>
        <th>url</th>
        <th>alt</th>
        <th>category</th>
        <th>Action</th>
      </tr>
      <% @galery.each do | _galery | %>
        <tr>
          <td><%= truncate(_galery.url, :length => 80) %></td>
          <td><%= _galery.alt %></td>
          <td><%= _galery.category_id %></td>
          <td>
            <a href="/Admin/galery/delete/<%= _galery.id %>/">Delete</a>
            <a href="/Admin/galery/edit/<%= _galery.id %>/">Edit</a>
          </td>
        </tr>
      <% end %>
    </table>
    <a class="new" href="/Admin/galery/new" >New</a>
  </div>
</div>
