<p class="message"><%= flash[:Message] %></p>
<div class="login">
  <%= form_for(:user, url: '/Admin/login', method: "post") do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Login" %>
  <% end %>
</div>
