<div class="post">
  <%= form_for(:post, url: '/Admin/post/edit/' +params[:id], method: "post") do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.label :thumbnail %>
    <%= f.text_field :thumbnail %>
    <%= f.file_field :thumbnail %>
    <%= f.submit %>
  <% end %>
</div>
