<div class="admin">
  <div class="post">
    <table>
      <tr>
        <th>title</th>
        <th>content</th>
        <th>thumbnail</th>
        <th>Action</th>
      </tr>
      <% @post.each do | _post | %>
        <tr>
          <td><%= _post.title %></td>
          <td><%= truncate(_post.content, :length => 80) %></td>
          <td><%= _post.category %></td>
          <td>
            <a href="/Admin/post/delete/<%= _post.id %>/">Delete</a>
            <a href="/Admin/post/edit/<%= _post.id %>/">Edit</a>
          </td>
        </tr>
      <% end %>
    </table>
    <a class="new" href="/Admin/post/new" >New</a>
  </div>
</div>
