.container > .contact {
  width: 50vw;
  height: 100vh;

  margin: 0;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30vw 20vw;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact > form {
  padding: 2rem;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.contact > form > * {
  margin-bottom: 19px;
  border-radius: 12px;
  border: 0;
  outline: none;
  padding: 1rem;

  height: auto;
}
.contact > form > label {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.contact > form > textarea {
  height: 150px;
}

.contact > form > input[type="submit"] {
  background-color: #7772be;
  font-weight: bold;
  font-size: 1rem;
}

.contact > form > input[type="submit"]:hover {
  background-color: #616161;
}

.contact .thumbnail {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 5rem;
  text-align: center;
}

.contact .thumbnail > iframe {
  width: 100%;
  height: 40vh;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.contact .thumbnail > img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.contact .thumbnail > p {
  color: rgb(131, 131, 131);
}

.contact > .thumbnail a {
  text-decoration: none;
  color: rgb(64, 124, 255);
}

@media screen and (max-width: 600px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .contact > form {
    padding: 0;
  }

  .contact .thumbnail > img {
    margin-left: 0;
  }
}
