.galery {
  width: 100%;
}

.galery ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.galery ul li {
  padding: 1rem;

  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;
}

.galery ul li a {
  text-decoration: none;
  color: black;
}

.galery-img {
  width: 100%;
  height: auto;

  grid-column-gap: 24px;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.galery-img .column {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 24px;
  margin: 0;
  padding: 0;
}

.galery-img > .column > .card {
  width: 100%;
}

.galery-img > .column > .card > img {
  width: 100%;
  height: auto;
}
