.login form {
  background-color: #cfcfcf;
  width: 30vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  margin-top: 20vh;

  border-radius: 10px;

  padding: 2rem;
}

.login form label {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
}

.login form input {
  margin-bottom: 19px;
  border-radius: 12px;
  border: 0;
  outline: none;
  padding: 1rem;

  height: auto;

  width: auto;

  font-size: 1.2rem;
  color: rgb(100, 100, 100);
}

.login form input:hover {
  background-color: #616161;
  color: rgb(255, 255, 255);
}

.login form input[type="submit"]:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .login form {
    width: 90vw;
  }
}
