.posts {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts .post {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.posts .post .title {
  font-weight: bold;
  font-size: 2.5rem;
}

.posts .post .date {
  color: rgb(83, 83, 83);
  font-style: italic;
  text-align: left;
  padding: 1rem;
}

.content {
  width: 60vw;
  text-align: left;
  padding: 1rem;
}

.posts .post img {
  object-fit: cover;
  width: 350px;
  height: auto;
  border-radius: 18px;
}
