<div class="contact">
  <%= form_for(:contact, url: '/Contact', method: "post") do |f| %>
    <%= f.text_field :name, class: "", placeholder:"Nom, Prénom"  %>
    <%= f.text_field :email, class: "", placeholder:"Email"   %>
    <%= f.text_area :message, class: "", placeholder:"Votre Message" %>
    <%= f.submit "contacter", class: "", value:"Envoyer" %>
  <% end %>
  <div class="thumbnail">
    <img src="https://media0.giphy.com/media/3o6MbsmUJlGl3VGzdK/giphy.gif?cid=ecf05e47rk7xbj1p4hdvr5yjqey2faewkejtpxofbj9c30ib&rid=giphy.gif&ct=g" alt="">
    <p>Image from <a href="https://giphy.com/gifs/season-11-the-simpsons-11x15-3o6MbsmUJlGl3VGzdK">GIPHY</a></p>
  </div>
</div>
