<div class="galery">
  <ul>
    <% @categorys.each do | category | %>
      <li>
        <% if category.name !="All"   %>
          <a href="/Galery/<%= category.name %>" ><%= category.name %></a>
        <% else %>
          <a href="/Galery"><%= category.name %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="galery-img">
    <figure class="column">
      <% @block1.each do | image | %>
        <div class="card">
          <img src="<%= image.url %>" alt="<%= image.alt %>">
        </div>
      <% end %>
    </figure>
    <figure class="column">
      <% @block2.each do | image | %>
        <div class="card">
          <img src="<%= image.url %>" alt="<%= image.alt %>">
        </div>
      <% end %>
    </figure>
    <figure class="column">
      <% @block3.each do | image | %>
        <div class="card">
          <img src="<%= image.url %>" alt="<%= image.alt %>">
        </div>
      <% end %>
    </figure>
  </div>
</div>
