<div class="posts">
  <% @posts.each do | _post | %>
    <div class="post">
      <div class="text">
        <h3 class="title"><%= _post.title %></h3>
        <p class="content"><%= _post.content %></p>
        <p class="date"><%= _post.created_at %></p>
      </div>
      <img src="<%= _post.thumbnail %>">
    </div>
  <% end %>
</div>
