.new {
  display: block;
  text-decoration: none;

  border: 1px solid #000;
  color: #000;
  font-weight: bold;

  background-color: #f5f5f5;

  border-radius: 4px;
  padding: 1rem;

  margin-top: 20px;
  width: 10vw;

  margin: 2rem auto;

  text-align: center;
}
