.post {
  text-align: center;
}

.post form {
  width: 60vw;
  background-color: rgb(182, 182, 182);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.post form * {
  outline: none;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 10px;
  height: 40px;
}
.post form label {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.post form textarea {
  height: 200px;
  resize: vertical;
}
