<%
@isMenu = 0
if @IsAdmin == 1 
if session[:auth_user] != nil && session[:auth_user]["level"] > 0
  @isMenu = 1
  %>
<div class="admin-menus">
  <ul>
    <% if @menusAdmin != nil %>
      <% @menusAdmin.each do |text| %>
        <li class="<%= "active" if @menu_selected==text %>" >
          <a href="<%= "/Admin/"+text.downcase if text != "Home" %><%= "/Admin" if text == "Home" %>" ><%= text %></a>
        </li>
      <% end%>
    <% end%>
  </ul>
</div>
<% end%>
<% end%>
<% if @isMenu == 0%>
  <div class="menus">
    <ul>
      <% if @menus != nil %>
        <% @menus.each do |text| %>
          <li class="<%= "active" if @menu_selected==text %>" ><a href="/<%= text %>" ><%= text %></a></li>
        <% end%>
      <% end%>
    </ul>
  </div>
<% end%>
