/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

.title {
  color: rgb(116, 116, 116);
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
}

.menus {
  background-color: #000;
  height: 50px;
  width: 100vw;
  max-width: 100%;
}

.menus > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.menus ul li {
  width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.menus ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.active a {
  text-decoration: none;
  color: red !important;
}

.container {
  margin: 0;
  padding: 1rem;

  width: 100vw;

  height: auto;

  min-height: 100vh;

  max-width: 100%;
}

.success {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: rgb(64, 124, 255);
  font-size: 3rem;
  font-weight: bold;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Responsive phone */

.admin > .contact {
  width: 100%;
  height: auto;
}
.admin > .send label {
  color: #000;
}
.admin > .send {
  display: block;
  width: 50%;

  min-height: 50vh;
  margin: 0 auto;
  margin-top: 20vh;
}

.admin > .send > form > textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 25vh;
}

.message {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
}

.admin-menus {
  position: fixed;
  top: 0;
  background-color: rgb(70, 70, 70);
  width: 10vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  text-align: center;
}

.admin-menus ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.admin-menus ul li {
  padding: 1rem;

  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;
}

.admin-menus ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
}

.admin-c {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
}

.footer {
  display: block;
  padding: 2rem;
  width: 100%;
  height: 15vh;
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.footer a {
  text-decoration: none;
  color: rgb(64, 124, 255);
  font-size: 1rem;
  font-weight: bold;
}
.admin-f {
  position: fixed;
  bottom: 0 !important;
  right: 0;
  width: 90vw;
}

.admin > div > table {
  border-collapse: collapse;
  margin: 0 auto;
}

.admin > div > table tr {
  border: 1px solid rgb(0, 0, 0);
}

.admin > div > table th,
.admin > div > table td {
  padding: 0.8rem;
}
.admin > div > table tr th {
  background-color: #000;
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

.admin > div > table tr td {
  border: 1px solid rgb(0, 0, 0);
}

.admin > div > table a {
  text-decoration: none;
  color: white;
  background-color: #000;
  border-radius: 18px;
  padding: 0.5rem 1rem;
}

.admin > div > table a:hover {
  background-color: rgb(88, 88, 88);
}
