<!DOCTYPE html>
<html>
  <head>
    <title>SiteRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render partial: "header/menu" %>
    <div class="container <%= "admin-c" if @IsAdmin > 0 if @IsAdmin !=nil %>">
      <%= yield %>
    </div>
    <div class="footer <%= "admin-f" if @IsAdmin > 0 if @IsAdmin !=nil %>">
      <a href="Admin">Admin</a>
      Copyright Aurélien &copy; <%= Time.now.year %>
    </div>
  </body>
</html>
